<!DOCTYPE HTML>
<html>

<head>
	<title>The Hype Fund - Coming Soon</title>
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="static/frontend/assets/css/main.css" />
	<noscript>
		<link rel="stylesheet" href="static/frontend/assets/css/noscript.css" /></noscript>
</head>

<body class="is-preload">
	<div id="page-wrapper">
		<!-- Header -->
		<header id="header">
			<h1 id="logo">
				<a href="index.html">
					<img src="images/letter_logo.png" alt="" style="float:right;height:40px; margin: 10px 0px" />
				</a>
			</h1>
			<nav id="nav">
				<ul>
					<li>
						<a href="index.html">About</a>
					</li>
					<li><a href="index.html#form" class="scrolly">Contact</a></li>
					<li><a href="#">Log In</a></li>
					<li><a href="#" class="button primary">Sign Up</a></li>

				</ul>
			</nav>
		</header>
		<div>
			</br>
		</div>
		<marquee behavior="scroll" direction="left" scrollamount="30">
			<h2><b>COMING SOON &nbsp; COMING SOON &nbsp; COMING SOON &nbsp; COMING SOON &nbsp; COMING SOON &nbsp; COMING
					SOON &nbsp; COMING SOON &nbsp; COMING SOON &nbsp; COMING SOON &nbsp; COMING SOON &nbsp; COMING SOON
					&nbsp; COMING SOON &nbsp; COMING SOON &nbsp; COMING SOON &nbsp; COMING SOON &nbsp; COMING SOON
					&nbsp; COMING SOON &nbsp; COMING SOON &nbsp; COMING SOON &nbsp; COMING SOON &nbsp; COMING SOON
					&nbsp; COMING SOON &nbsp; COMING SOON &nbsp; COMING SOON &nbsp; COMING SOON &nbsp; COMING SOON
					&nbsp; COMING SOON &nbsp; COMING SOON &nbsp; COMING SOON &nbsp; COMING SOON &nbsp; COMING SOON
					&nbsp; COMING SOON &nbsp; COMING SOON &nbsp; COMING SOON &nbsp; COMING SOON &nbsp; COMING SOON
					&nbsp; COMING SOON &nbsp; COMING SOON &nbsp; COMING SOON &nbsp; COMING SOON &nbsp; COMING SOON
					&nbsp; COMING SOON &nbsp; COMING SOON &nbsp; COMING SOON &nbsp; COMING SOON &nbsp; COMING SOON
					&nbsp; COMING SOON &nbsp; COMING SOON &nbsp; COMING SOON</b></h2>
		</marquee>
		<marquee behavior="scroll" direction="right" scrollamount="30">
			<h2><b>COMING SOON &nbsp; COMING SOON &nbsp; COMING SOON &nbsp; COMING SOON &nbsp; COMING SOON &nbsp; COMING
					SOON &nbsp; COMING SOON &nbsp; COMING SOON &nbsp; COMING SOON &nbsp; COMING SOON &nbsp; COMING SOON
					&nbsp; COMING SOON &nbsp; COMING SOON &nbsp; COMING SOON &nbsp; COMING SOON &nbsp; COMING SOON
					&nbsp; COMING SOON &nbsp; COMING SOON &nbsp; COMING SOON &nbsp; COMING SOON &nbsp; COMING SOON
					&nbsp; COMING SOON &nbsp; COMING SOON &nbsp; COMING SOON &nbsp; COMING SOON &nbsp; COMING SOON
					&nbsp; COMING SOON &nbsp; COMING SOON &nbsp; COMING SOON &nbsp; COMING SOON &nbsp; COMING SOON
					&nbsp; COMING SOON &nbsp; COMING SOON &nbsp; COMING SOON &nbsp; COMING SOON &nbsp; COMING SOON
					&nbsp; COMING SOON &nbsp; COMING SOON &nbsp; COMING SOON &nbsp; COMING SOON &nbsp; COMING SOON
					&nbsp; COMING SOON &nbsp; COMING SOON &nbsp; COMING SOON &nbsp; COMING SOON &nbsp; COMING SOON
					&nbsp; COMING SOON &nbsp; COMING SOON &nbsp; COMING SOON</b></h2>
		</marquee>
		<marquee behavior="scroll" direction="left" scrollamount="30">
			<h2><b>COMING SOON &nbsp; COMING SOON &nbsp; COMING SOON &nbsp; COMING SOON &nbsp; COMING SOON &nbsp; COMING
					SOON &nbsp; COMING SOON &nbsp; COMING SOON &nbsp; COMING SOON &nbsp; COMING SOON &nbsp; COMING SOON
					&nbsp; COMING SOON &nbsp; COMING SOON &nbsp; COMING SOON &nbsp; COMING SOON &nbsp; COMING SOON
					&nbsp; COMING SOON &nbsp; COMING SOON &nbsp; COMING SOON &nbsp; COMING SOON &nbsp; COMING SOON
					&nbsp; COMING SOON &nbsp; COMING SOON &nbsp; COMING SOON &nbsp; COMING SOON &nbsp; COMING SOON
					&nbsp; COMING SOON &nbsp; COMING SOON &nbsp; COMING SOON &nbsp; COMING SOON &nbsp; COMING SOON
					&nbsp; COMING SOON &nbsp; COMING SOON &nbsp; COMING SOON &nbsp; COMING SOON &nbsp; COMING SOON
					&nbsp; COMING SOON &nbsp; COMING SOON &nbsp; COMING SOON &nbsp; COMING SOON &nbsp; COMING SOON
					&nbsp; COMING SOON &nbsp; COMING SOON &nbsp; COMING SOON &nbsp; COMING SOON &nbsp; COMING SOON
					&nbsp; COMING SOON &nbsp; COMING SOON &nbsp; COMING SOON</b></h2>
		</marquee>
		<marquee behavior="scroll" direction="right" scrollamount="30">
			<h2><b>COMING SOON &nbsp; COMING SOON &nbsp; COMING SOON &nbsp; COMING SOON &nbsp; COMING SOON &nbsp; COMING
					SOON &nbsp; COMING SOON &nbsp; COMING SOON &nbsp; COMING SOON &nbsp; COMING SOON &nbsp; COMING SOON
					&nbsp; COMING SOON &nbsp; COMING SOON &nbsp; COMING SOON &nbsp; COMING SOON &nbsp; COMING SOON
					&nbsp; COMING SOON &nbsp; COMING SOON &nbsp; COMING SOON &nbsp; COMING SOON &nbsp; COMING SOON
					&nbsp; COMING SOON &nbsp; COMING SOON &nbsp; COMING SOON &nbsp; COMING SOON &nbsp; COMING SOON
					&nbsp; COMING SOON &nbsp; COMING SOON &nbsp; COMING SOON &nbsp; COMING SOON &nbsp; COMING SOON
					&nbsp; COMING SOON &nbsp; COMING SOON &nbsp; COMING SOON &nbsp; COMING SOON &nbsp; COMING SOON
					&nbsp; COMING SOON &nbsp; COMING SOON &nbsp; COMING SOON &nbsp; COMING SOON &nbsp; COMING SOON
					&nbsp; COMING SOON &nbsp; COMING SOON &nbsp; COMING SOON &nbsp; COMING SOON &nbsp; COMING SOON
					&nbsp; COMING SOON &nbsp; COMING SOON &nbsp; COMING SOON</b></h2>
		</marquee>
	</div>
	</div>
	<footer id="footer" style="position: absolute; bottom: 0; left: 30%">
		<ul class="icons">
			<li><a href="http://instagram.com/thehypeadvisor" class="icon alt fa-instagram"><span
						class="label">Instagram</span></a></li>
			<li><a href="mailto:team@thehypeadvisor.com" class="icon alt fa-envelope"><span
						class="label">Email</span></a></li>
		</ul>
		<ul class="copyright">
			<li>&copy; The Hype Advisor.</li>
			<li>Built by: <a href="http://m1ch43lw4ng.com">Michael Wang</a></li>
			<li>Last Updated: June 22nd, 2019</li>
		</ul>
	</footer>
</body>

</html>