<!DOCTYPE HTML>
<html>

<head>
	<title>The Hype Advisor</title>
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="static/frontend/assets/css/main.css" />
	<noscript>
		<link rel="stylesheet" href="static/frontend/assets/css/noscript.css" /></noscript>
	<style>
		svg {
			font-size: 10px;
		}

		.axis path,
		.axis line {
			fill: none;
			stroke: #FFFFFF;
			shape-rendering: crispEdges;
		}

		.x.axis path {
			display: none;
		}

		.line {
			fill: none;
			stroke: steelblue;
			stroke-width: 1.5px;
		}
	</style>

</head>

<body class="is-preload landing">
	<div id="page-wrapper">
		<!-- Header -->
		<header id="header">
			<h1 id="logo">
				<a href="#">
					<img src="images/letter_logo.png" alt="" style="float:right;height:40px; margin: 10px 0px" />
				</a>
			</h1>
			<nav id="nav">
				<ul>
					<li>
						<a href="#">About</a>
						<ul>
							<li><a href="#story" class="scrolly">Our Story</a></li>
							<li><a href="#service" class="scrolly">Our Service</a></li>
							<li><a href="#industry" class="scrolly">The Industry</a></li>
							<li><a href="#why" class="scrolly">Why Us</a></li>
							<!--
								<li>
										<a href="#">Submenu</a>
										<ul>
												<li><a href="#">Option 1</a></li>
												<li><a href="#">Option 2</a></li>
												<li><a href="#">Option 3</a></li>
												<li><a href="#">Option 4</a></li>
										</ul>
								</li>
								-->
						</ul>
					</li>
					<li><a href="#form" class="scrolly">Contact</a></li>
					<li><a href="comingsoon.html">Log In</a></li>
					<li><a href="comingsoon.html" class="button primary">Sign Up</a></li>

				</ul>
			</nav>
		</header>
		<!-- Banner -->
		<section id="banner">
			<div class="content">
				<header>
					<h2>
						Turn your passion to profit,<br> without all of the work.</br></h2>
					<p>
						Join The Hype Fund by The Hype Advisor</br>
						<!-- <img src="images/new_logo_no_border.png" alt="" style="float:center;height:8em;padding:1%;" /> -->
						<!-- <img src="images/graphic_no_border.png" alt="" style="float:right;height:300px;" /> -->
					</p>
				</header>
				<span class="image">
					<img src="images/new_logo_no_border.png" alt="" />
					<!-- <img src="images/graphic_no_border.png" alt="" /> -->
				</span>
				<!-- <a href="#service" class="scrolly">

					</a> -->
			</div>
			<a href="#story" class="goto-next scrolly">Next</a>
		</section>
		<!-- Body -->
		<section id="story" class="spotlight style1 right">
			<span class="image fit main"><img src="images/travis_af1.gif" alt="" /></span>
			<div class="content">
				<div class="col-4 col-12-medium">
					<header>
						<h2>Our Story</h2>
						<p>Who is "The Hype Advisor?"</p>
					</header>
				</div>
				<div class="col-4 col-12-medium">
					<p>
						We are a team of streetwear enthusiasts who have been passionate about the world of hype for as
						long as we can remember. However, streetwear is an expensive hobby: <b>We needed a way to fund
							our passion.</b>
						</br>
						</br>
						Then, about five years ago, we discovered reselling. By buying certain items for the low,
						waiting for a calculated period of time, and selling them high, we were able to profit.
					</p>
				</div>
			</div>
			<a href="#two" class="goto-next scrolly">Next</a>
		</section>
		<section id="two" class="spotlight style1 left">
			<span class="image fit main"><img src="images/bape.gif" alt="" /></span>
			<div class="content">
				<div class="col-4 col-12-medium">
					<header>
						<h2>The Hype Fund</h2>
						<p>Our expertise, now in your hands.</p>
					</header>
					<p>
						Five years later, here we are. Reselling allows us to make more money than we could have ever
						imagined. With our knowledge navigating the streetwear market, we accurately predict and obtain
						the items that are going to appreciate.
						</br>
						</br>
						<b>We want to bring our experience to you.</b> We know that getting into reselling is very
						difficult, and the steep learning curve has driven many people away. Therefore, we want to offer
						a service that does it for you. Introducing <b><i>The Hype Fund</i></b> by <b><i>The Hype
								Advisor</i></b>.
					</p>
				</div>
			</div>
			<a href="#service" class="goto-next scrolly">Next</a>
		</section>
		<section id="service" class="wrapper style2 special fade">
			<div class="container">
				<header>
					<h2>Our Service</h2>
					<p>A clothing and sneaker-based hedgefund with no barriers to entry.</p>
				</header>
				<p align="left">
					We are a <b>niche hedge fund</b> that operates specifically in the streetwear market. Using our
					experience, connections, and data, we buy items that we predict to be <b>bullish</b>: they increase
					in resale value over time. If you invest into us, we’ll put your capital into the market, buying and
					selling streetwear items to make a profit. At the end of the investing time frame, we transfer the
					money we make directly to your <b>PayPal account</b>, minus a commission fee.
				</p>
				<div class="box alt">
					<div class="row gtr-50 gtr-uniform">
						<div class="col-12"><span class="image fit"><img src="images/service.png" alt="" /></span></div>
					</div>
				</div>
			</div>
		</section>
		<section id="industry" class="wrapper style1 special fade">
			<div class="container">
				<header>
					<h2>The Industry</h2>
					<p>The potential in streetwear investment.</p>
				</header>
				<p align="left">
					<!-- <span class="left" id="chart_div"></span> -->
					<span id="chart" class="left"></span>
					The streetwear industry is a multi-billion industry, with the resell market itself currently valued
					at <b>$2 billion</b> (per <a
						href="https://www.businessinsider.com/most-expensive-sneakers-sold-last-year-resale-2019-4"
						target="_blank">Business Insider)</a>. This number is only growing at an exponential rate: it is
					projected to hit <b>$6 billion by 2025</b>. <b>Start investing now, you won’t regret it</b>.
					</br>
					</br>
					For a glimpse at <b>our profits</b> or <b>the growth of the market and comparisons to the stock
						market</b>, click the buttons below.
					</br>
					<a class="button">Our Track Record</a>
					<a class="button">Market Comparisons</a>
					</br>
					</br>
					Ultimately, the streetwear market is <b>more predictable, less volatile</b>, and thus has a
					<b>greater potential</b> for profit than other open markets.
				</p>
				</br>
			</div>
		</section>
		<section id="why" class="wrapper style2 special fade">
			<div class="container">
				<header>
					<h2>Why Believe In Us?</h2>
					<p>No risk. Better profits.</p>
				</header>
				<p align="left">
					The streetwear market is unlike any other. Not only is there a constant influx of new drops every
					week, but there is also a constant demand for valued items. These items we choose tend to rise in
					resale price quickly, but rarely drop below its original value, making them low-risk investments.
					</br>
					</br>
					Like in any global market, we use our knowledge, experience, and connections to buy and sell these
					static/frontend/assets, some of which are very difficult to obtain. We want to show you that
					streetwear is not just
					a passion for streetwear enthusiasts, but is also a living, breathing market where millions of
					dollars have the potential to be made!
					</br>
					</br>
					If you want to test out how we do in the market, it’s okay to start small! Our business is
					structured so each client can contribute, <b>with just a minimum amount of $100.</b>
				</p>
				<!--
					<div class="box alt">
							<div class="row gtr-50 gtr-uniform">
									<div class="col-4 col-6-xsmall"><span class="image fit"><img src="images/pic02.jpg" alt="" /></span></div>
									<div class="col-4 col-6-xsmall"><span class="image fit"><img src="images/pic03.jpg" alt="" /></span></div>
									<div class="col-4 col-6-xsmall"><span class="image fit"><img src="images/pic04.jpg" alt="" /></span></div>
							</div>
					</div>
					-->
		</section>
		<section id="five" class="wrapper style1 special fade-up">
			<div class="container">
				<header class="major">
					<h2>5+ Years of Reselling Success</h2>
					<p>Your funds in the hands of experts with a <b>proven track record</b>. Best part is, you get to
						learn ins and outs of the streetwear market with us. We promise the following and look forward
						to being at your service.</p>
				</header>
				<div class="box alt">
					<div class="row gtr-uniform">
						<section class="col-4 col-6-medium col-12-xsmall">
							<span class="icon alt major fa-shield"></span>
							<h3>Security</h3>
							<p>We keep all your data safe and secure, and you decide who does or doesn’t see your
								portfolio. Your information will never be shown to any third parties.</p>
						</section>
						<section class="col-4 col-6-medium col-12-xsmall">
							<span class="icon alt major fa-eye"></span>
							<h3>Transparency</h3>
							<p>We are 100% transparent with our buying and selling. We even encourage our clients to
								examine the transactions to enrich themselves in the culture and the intricacies of the
								resell world.</p>
						</section>
						<section class="col-4 col-6-medium col-12-xsmall">
							<span class="icon alt major fa-desktop"></span>
							<h3>Accessibility</h3>
							<p>Our interface is simple and easy to understand. All of the information that you need will
								be right at your fingertips.</p>
						</section>
					</div>
				</div>
			</div>
		</section>
		<section id="form" class="wrapper style2 special fade">
			<div class="container">
				<header>
					<h2>Interested In Our Service?</h2>
					<!--<p>Feel free to ask any questions or join through email (form doesn't work yet).</p>-->
					<!-- <p><a href="mailto:team@thehypeadvisor.com" class="button">Click this button to send us an email (form coming soon)</a></p> -->
					<div>
						Leave us your information below and hit <b>Join Us</b> to join our weekly newsletter and follow
						our investments and the reselling culture. If you have specific interests, hit the <b>Contact
							Us</b> button to send us an email.
					</div>
					</br>
					<form method="post" action="#">
						<div class="row gtr-uniform gtr-50">
							<div class="col-3 col-12-xsmall">
								<input type="text" name="name" id="name" value="" placeholder="Name (First Last)"
									required="true" />
							</div>
							<div class="col-6 col-12-xsmall">
								<input type="email" name="email" id="email" value=""
									placeholder="Email (name@website.com)" required="true" />
							</div>
							<!-- 
									<div class="col-4 col-12-medium">
										<input type="radio" id="priority-low" name="priority" checked>
										<label for="priority-low">Low Priority</label>
									</div>
									<div class="col-4 col-12-medium">
										<input type="radio" id="priority-normal" name="priority">
										<label for="priority-normal">Normal Priority</label>
									</div>
									<div class="col-4 col-12-medium">
										<input type="radio" id="priority-high" name="priority">
										<label for="priority-high">High Priority</label>
									</div>

									<div class="col-6 col-12-xsmall">
										<input type="text" name="name" id="name" value="" placeholder="Name (First Last)" required="true"/>
									</div>
									<div class="col-6 col-12-xsmall">
										<input type="text" name="name" id="name" value="" placeholder="Name (First Last)" required="true"/>
									</div>
									<div class="col-6 col-12-xsmall">
										<input type="text" name="name" id="name" value="" placeholder="Name (First Last)" required="true"/>
									</div>
									<div class="col-6 col-12-xsmall">
										<input type="text" name="name" id="name" value="" placeholder="Name (First Last)" required="true"/>
									</div>
									<div class="col-12">
										<textarea name="message" id="message" placeholder="Enter your message" rows="6"></textarea>
									</div>
-->
							<div class="col-3 col-12-xsmall">
								<ul class="actions">
									<li><a href="mailto:team@thehypeadvisor.com" class="button">Contact Us</a></li>
									<li><input type="submit" value="Join Us" class="primary" /></li>
								</ul>
							</div>
						</div>
					</form>
				</header>
				<form method="post" action="#" class="cta">
					<div class="row gtr-uniform gtr-50">
						<!--
							<div class="col-8 col-12-xsmall"><input type="email" name="email" id="email" placeholder="Your Email Address" /></div>
							<div class="col-4 col-12-xsmall">
									<input type="submit" value="Get Started" class="fit primary" />
							</div>
							-->
					</div>
				</form>
			</div>
		</section>
		<!-- Footer -->
		<footer id="footer">
			<ul class="icons">
				<li><a href="http://instagram.com/thehypeadvisor" class="icon alt fa-instagram"><span
							class="label">Instagram</span></a></li>
				<li><a href="mailto:team@thehypeadvisor.com" class="icon alt fa-envelope"><span
							class="label">Email</span></a></li>
			</ul>
			<ul class="copyright">
				<li>&copy; The Hype Advisor.</li>
				<li>Built by: <a href="http://m1ch43lw4ng.com">Michael Wang</a></li>
				<li>Last Updated: June 22nd, 2019</li>
			</ul>
		</footer>
	</div>
	<!-- Scripts -->
	<script src="static/frontend/assets/js/jquery.min.js"></script>
	<script src="static/frontend/assets/js/jquery.scrolly.min.js"></script>
	<script src="static/frontend/assets/js/jquery.dropotron.min.js"></script>
	<script src="static/frontend/assets/js/jquery.scrollex.min.js"></script>
	<script src="static/frontend/assets/js/browser.min.js"></script>
	<script src="static/frontend/assets/js/breakpoints.min.js"></script>
	<script src="static/frontend/assets/js/util.js"></script>
	<script src="static/frontend/assets/js/main.js"></script>
	<script type="text/javascript" src="static/frontend/assets/js/chart.js"></script>
	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js"></script>
	<!-- 	    <script type="text/javascript">
				google.charts.load('current', {'packages':['line', 'corechart']});
				google.charts.setOnLoadCallback(drawChart);
				function drawChart() {
					var chartDiv = document.getElementById('chart_div');
					var data = new google.visualization.DataTable();
					data.addColumn('date', 'Month');
					data.addColumn('number', "Apple Stock Price");
					data.addColumn('number', "OW AF1 Volt Selling Price");
					data.addRows([
					[new Date(2019, 0),  184.82, 391.00],
					[new Date(2019, 0.5),  165.48, 391.00],
					[new Date(2019, 1),  127.92, 380.00],
					[new Date(2019, 2),  166.52,  421.00],
					[new Date(2019, 3), 174.97,  492.00],
					[new Date(2019, 4), 191.24,  664.00],
					[new Date(2019, 5), 210.52,  700.00]
					]);
					var classicOptions = {
						title: 'Apple Stock vs. Off-White Nike AF1 (Volt)',
						width: 500,
						height: 250,
						// Gives each series an axis that matches the vAxes number below.
						series: {
							0: {targetAxisIndex: 0},
							1: {targetAxisIndex: 1}
						},
						vAxes: {
							// Adds titles to each axis.
							0: {title: 'Sold Listing of Shoe (USD)'},
							1: {title: 'AAPL Stock Price (USD)'}
						},
						hAxis: {
							ticks: [new Date(2019, 0), new Date(2019, 0.5),new Date(2019, 1), new Date(2019, 2), new Date(2019, 3), new Date(2019, 4),  new Date(2019, 5)]
						},
						vAxis: {
							viewWindow: {
								max: 750
							}
						}
					};
					function drawClassicChart() {
						var classicChart = new google.visualization.LineChart(chartDiv);
						classicChart.draw(data, classicOptions);
					}
					drawClassicChart();
				}
		</script> -->
</body>

</html>